.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2rem; /* between main_content and footer */
   min-width: 102.4rem;

   background-image: url("../images/bg-intro-desktop.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
}

.main_content {
   max-width: 144rem;
   display: flex;
   gap: 5rem; /* title_details_container and price_form_container */
   text-align: center;
}

.title_details_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 50rem;
   text-align: left;
}

.title {
   line-height: 4rem;
   margin-bottom: 3rem;
   padding-right: 15rem;
}

.details {
   width: 100%;
}

.price_form_container {
   display: flex;
   flex-direction: column;
   gap: 2rem; /*betweern price and forms */
}

.price {
   padding: 1.5rem;
   background-color: var(--blue);
   border-radius: 1rem;
   box-shadow: 0 0.65rem rgba(0, 0, 0, 0.2);
   color: var(--grayish-blue);
}
